::component::
<noscript>Your browser doesn't support Javascript. Some functions of this site might be unavaliable.</noscript>
::component::

::style::
<style>
  noscript {
    background-color: rgb(95, 19, 19);
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    box-sizing: border-box;
  }
  @media (scripting: none) {
    body {
      grid-template-rows: min-content min-content auto min-content;
    }
  }
</style>
::style::